/* Horizontal Centering */

body{
    text-align: center;
}



.block,
.inline {
    color: white;
}

.block {
    background: blue;
    width: 18rem;

    /* centering position */
    /* margin: 0 auto;  */
/* 
    margin-left: auto; 
    margin-right: auto; */


    margin: 2rem auto;
}

.inline {
    background: red;   
}

#parent_container{
    text-align: center;
   
}