/* 

display: inline-block
does not start a new line

Browser respects
1.  margin top / bottom (inclusive left and right)
2. width
3. height

*/


h1{
    background:blue;
    color: white;
    width: 300px;
    height: 300px;
    margin: 40px 20px;
}

a{
    font-size: 1.5rem;
    background: red;
    color: white;
     width: 100px;
     height: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    

    display: inline-block;
}
p{
    margin: 0;
}